.transaction-page {
  padding: 50px 0px;
}

/* transaction summary */
.transaction-summary {
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

.trans-date {
  margin: 10px 0;
  font-size: 0.9em;
  color: var(--title-color);
}

.trans-category {
  margin: 30px 0;
  color: var(--text-color);
  line-height: 1.8em;
  font-size: 0.9em;
}

.trans-amount {
  color: var(--text-color);
  font-size: 0.9em;
}

.trans-account {
  color: var(--text-color);
  font-size: 0.9em;
}
